@media (max-width: 767px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  .body-content {
    padding-top: 50px;
  }
 
}

.title
{
    width: 100%;
    background-color: rgba(51,51,51,.9);
    color: #fff;
    box-shadow: 0 0 10px rgba(51,51,51,.6);
    margin-bottom: 1rem;
    font-size: x-large;
    padding: 2%;
}

.cur{
  display: inline-block;
  padding-inline-start: 70%;
  font-weight:100;
}