.mat-row:nth-child(even){
    background-color:lightgray;
    }

.btnDiv{
    padding-top: 2%;
    display: inline;
    padding-inline-start: 30%;
}

.back{
    background-color:lightgray;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
    margin-right: 3%;
}



.totalPrice{
    padding-top: 2%;
    padding-inline-start: 75%;
    font-weight: bold;
}

.price{
    padding-inline-start: 40%;
}